# Tell GitHub linguist to ignore these for language stats
*.png linguist-detectable=false
Images/** linguist-generated
assets/** linguist-generated

# Boost Python visibility
*.ipynb linguist-language=Python
*.py linguist-language=Python
